* {
    font-family: Optima, sans-serif;
    overflow: hidden;
  }

fieldset {
  border: 1px solid black;
  margin: 0px;
  padding: 1rem;
  margin-bottom: 1rem;
  /* display:inline-block; */
}
label {
  display: block;
}

.honeypot-field {
  display: none;
}

.form-elements {
  border: 1px solid black;
  background-image: url('images/paper.jpeg');
}


.Timestamp {
  /* removes timestamp on google sheet load */
  display: none;
}

footer{
  position: absolute;
  bottom: 10px;
}

#popup-text{
  display: none;
  text-wrap: wrap;
  width: 100%;
}

#caption{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  color: white;
}

.flowers{
  width: 5%;
  position: absolute;
  
}

@media screen and (max-width: 768px) {
  body {
      padding: 10px;
  }
}

@keyframes colorfade{
  0%{
    filter: blur(100px);
  }
  20%{
    filter: blur(70px);
  }
  36%{
    filter: blur(30px);
  }
  43%{
    filter: blur(13px);
  }
  50%{
    filter: blur(0px);
  }
  63%{
    filter: blur(20px);
  }
  78%{
    filter: blur(45px);
  }
  81%{
    filter: blur(69px);
  }
  100%{
    filter: blur(100px);
  }
  

}
.my-animation{
  filter: blur(4px);
  mix-blend-mode: difference;
  animation-name: colorfade;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.index-flower{
  animation: rotate 7s linear infinite;
}

@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}